/**
 * @name tobitdsm rice theme
 * @author tobitdsm
 * @description A theme included in the rice made by tobitdsm
 * @version 0.0.1
 * @BDEditor DiscordRecolor
 * @source https://github.com/tobitdsm/rice/tree/main/BetterDiscord/themes/tobitdsm-rice.theme.css/
 */

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@100;300;400;500;700&display=swap');

:root {
    --accentcolor: 245, 154, 154;
    --accentcolor2: 255, 102, 102;
    --linkcolor: 153, 61, 61;
    --mentioncolor: 255, 102, 102;
    --textbrightest: 245, 154, 154;
    --textbrighter: 212, 138, 141;
    --textbright: 179, 121, 128;
    --textdark: 146, 105, 114;
    --textdarker: 113, 88, 101;
    --textdarkest: 80, 72, 88;
    --font: Karla;
    --backgroundaccent: 80, 72, 88;
    --backgroundprimary: 20, 18, 22;
    --backgroundsecondary: 20, 18, 22;
    --backgroundsecondaryalt: 20, 18, 22;
    --backgroundtertiary: 20, 18, 22;
    --backgroundfloating: 20, 18, 22;
    --settingsicons: 1;
}
